body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
}

.main {
	display: grid;
	text-align: center;
	padding: 100px;
	justify-items: center;
}

button {
	width: 6vw;
	height: 6vh;
	margin: 0 -2px;
	border: .1px solid black;
}

.top-btn {
	background-color: #d6d6d6;
}

.number {
	background-color: grey;
	color: #e3e3e3;
	font-size: 1rem;
}

.operator {
	background-color: #ff9200;
	color: #e3e3e3;
	font-size: 1rem;
}

#zero {
	width: 12vw;
}

#top-data {
	width: 24vw;
	height: 100px;
	background-color: #000000;
	color: #e3e3e3;
	text-align: right;
	padding-right: 40px;
	font-size: 2rem;
}
